*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
}

body {
  font-family: $font-family;
  background: $gray-50;
  color: $gray-900;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: $font-size-base;
  line-height: 1.5;
}

button {
  font-family: inherit;
}

input,
textarea,
select {
  font-family: inherit;
}