@import '@/styles/variables';

@keyframes shimmer {
  0% {
    background-position: -600px 0;
  }
  100% {
    background-position: 600px 0;
  }
}

.skeleton {
  background: linear-gradient(
    90deg,
    $gray-200 0px,
    $gray-100 40%,
    $gray-200 80%
  );
  background-size: 600px 100%;
  animation: shimmer 1.4s ease-in-out infinite;
  flex-shrink: 0;
}
