@import '@/styles/variables';
@import '@/styles/mixins';

.card {
  @include card;

  &--padding-none {
    padding: 0;
  }

  &--padding-sm {
    padding: $space-3;
  }

  &--padding-md {
    padding: $space-4;
  }

  &--padding-lg {
    padding: $space-6;
  }

  &--hoverable {
    transition: box-shadow $transition-base;

    &:hover {
      box-shadow: $shadow-md;
    }
  }

  &--clickable {
    cursor: pointer;
  }
}