@import '@/styles/variables';
@import '@/styles/mixins';

.modal-client {
  @include flex-column;
  gap: $space-4;

  &__row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: $space-4;
  }
}